<form [formGroup]="formGroup" novalidate>
  <div class="p-3 d-flex flex-column justify-content-around mt-3">
    <div class="d-flex align-self-center mt-3">
      <h1 class="d-flex align-self-center heading mt-3 text-success">
       What Tool Should I Use?
      </h1>
    </div>
    <div class="d-flex flex-column align-self-center">
    <div class="d-flex justify-content-around">
      <select class="form-select dropdown" placeholder="Select Task" formControlName="task" (change)="checkFirstDropdown($event.target)">
        <option value="" disabled selected hidden>Select Task</option>
        <option [value]="item.id" *ngFor="let item of dropDown1">{{item?.name}}</option>
       
      </select>

      <select class="form-select ms-3 dropdown" placeholder="Select audiance" formControlName="audiance" >
        <option value="" disabled selected hidden>Select audiance</option>
        <option [value]="item?.id" *ngFor="let item of dropDown2" >{{item?.name}}</option>
      </select>
      
      <div class="mt-2 ms-3">
        <button class="btn btn-success" type="button" [disabled]="!formGroup.valid" (click)="onSubmit()">Go</button>
      </div>

     
    </div>
    <div class="mt-3 ">
      <app-tool [data]="filterData"></app-tool>
    </div>
   
    </div>
   
  </div>
</form>